.body{
    background-image: linear-gradient(to right, rgb(52, 40, 129), rgb(49, 66, 103));
  padding-bottom: 3%;
  padding-top: 10%;
  margin-top: 2%;
}
button{
    border-radius: 20px;
    border: none;
    margin-left: 5%;
    padding: 5px;
}
#Access{
    display: flex;
    gap: 10px;
    margin-left: 10%;
}
#txt{
    color:white;
    margin-left: 7%;
    font-size: 40px;
    position: absolute;
}
#pod{
    width: 100px;
    height: 100px;
    margin-top: -86%;
}
#port{
    width: 100px;
    height: 100px;
    margin-top: -86%;
    flex-direction: row;
}
#loom{
    width: 100px;
    height: 100px;
    margin-top: -86%;
}
#jr{
    width: 100px;
    height: 100px;
    margin-top: -86%;
}
#present{
    margin-left: 60%;
    color: white;
}
.polka{
    position: absolute;
    left: 60%;
    width: 40%;
    height: 200px;
}
#leila{
    object-fit: cover;
    width: 261px;
    height: 264px;
margin-top: -46%;
margin-left: 20%;
border-radius: 20px;
}
#wachira{
    border-radius: 20px;
}
#nje{
    object-fit: cover;
    width: 261px;
    height:264px;
    margin-left: 20%;
    margin-top: -46%;
    border-radius: 20px;
}
#rach{
    object-fit: cover;
    width: 261px;
    height:264px;
    border-radius: 20px;
}
.first{
    display: flex;
    gap: 18%;
    margin-left: 40%;
}
.second{
    margin-left: -65%;
    margin-top: 20%;
    display: flex;
    gap: 18%;
}
#vee{
    margin-top: 40%;
    margin-left: -165%;
    border-radius: 20px;
}
.imgs{
   padding-left: 10%;
   display: flex;
   gap: 10%;
   position: relative;
}
@media screen {
}
