.navbar {
    display: flex;
    gap: 14%;
    font-size: 25px;
    display: flex;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, rgb(52, 40, 129), rgb(49, 66, 103));
    height: 95px;
    width: 100%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    z-index: 999;
  }
  .nav-item:hover {
    color: rgb(34, 2, 56);
  }
  .navigations {
    display: flex;
    gap: 13%;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 1050px;
    color: white;
    /* right: 50%; */
    gap: 75%;
  }
  .hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.808);
  }
  .modal-content {
    margin: 2% auto;
    padding: 20px;
    color: white;
    width: 30%;
  }
.subscribe{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    left: 1200px;
}









