.body{
    /* top: 0; */
    /* margin: 5% ; */
    font-family: 'poppins';
 }
 .blogHeading{
    background-image:linear-gradient(rgba(0,0,0,1.0), rgba(0,0,0,0.5)) ,url("../Images/identity.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
 }
 .topHeading{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: yellow;
    text-align: left;
    padding: 3%;
    padding-right: 50%;
    padding-left:5% ;
 }
 .blogIntro{
    font-size: 30px;
    color: white;
    margin: 2%;
    font-style: italic;
    text-align: left;
    padding-left:5% ;
 }
 h2{
    font-size: 40px;
    text-align: left;
    color: white;
 }
 p{
    font-size: 20px;
    /* text-align: justify; */
 }
 #readOnBtn{
   height: 50px;
   width: 180px;
   background-color: yellow;
   border-radius: 30px;
   border: yellow;
   box-shadow: 5px 5px 5px blue;
   font-size: 25px;
   font-weight: bolder;
   color: blue;
 }
 /* EXPLORING DIV */
 /* .exploring{
    display: flex;
    gap: 100px;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
 } */
 #exploringImage{
   height: 500px;
   width: 500px;
   border-radius: 50px;
   box-shadow: rgb(74, 74, 189) 5px 5px 10px 3px ;
   margin-top: 10%;
}
#exploringContent{
   font-size: 25px;
   font-style: oblique;
}
/* cARDS */
.cards{
   display: flex;
   justify-content: space-around;
   gap: 40px;
}
.cardOne{
   background-image:linear-gradient(rgba(0,0,0,1.0), rgba(0,0,0,0.5)) ,url('../Images/identity.jpg');
 height: 500px;
   width: 500px;
   border-radius: 50px;
   box-shadow: rgb(74, 74, 189) 5px 5px 10px 3px ;
   margin-top: 10%;
}
.cardTwo{
   background-image:linear-gradient(rgba(0,0,0,1.0), rgba(0,0,0,0.5)) ,url('../Images/identity.jpg');
 height: 500px;
   width: 500px;
   border-radius: 50px;
   box-shadow: rgb(74, 74, 189) 5px 5px 10px 3px ;
   margin-top: 10%;
}
.cardContent{
   color: white;
   margin: 10%;
   font-size: 30px;
   font-style: oblique;
}
#cardHeading{
padding: 25px;
color: yellow;
text-align: center;
}
a{
   text-decoration: none;
   color: yellow;
}
.paragraph{
   font-size: 25px;
}